{% extends 'base.html' %}
 
{% block title %}Lista de Clientes{% endblock %}


{% block body %}
    
    <h1>Lista:</h1>
    {% url 'exemplo:create' as exemplo_create_url %}
    <input type="submit" value="Criar cliente" onclick="location.href = '{{exemplo_create_url}}'">
    <ul>
        {% for cliente in object_list %}
        <li>
            {{cliente}} - <a href="{% url 'exemplo:update' cliente.id %}">Editar</a> - 
            <a href="{% url 'exemplo:detail' cliente.id %}">Detail</a> - 
            <a href="{% url 'exemplo:delete' cliente.id %}">Delete</a>
        </li>
        <hr>
        {% endfor %}   
    </ul>
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}